* { 
	box-sizing: border-box;
}
html, body {
	min-height: 100%;
}
	/* sets the body height of the browser, so that backgrounds and div heights work correctly. Color and background will almost certainly be altered; they are just placeholders */
	
body {
	font-size: 1.4rem;
	text-rendering: optimizeLegibility;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background:#1e1e1e!important;
}
	
table { border-collapse: collapse; }
td {
	padding: .5rem;
}
	/* causes tables to actually look like tables */
	
img { 
	border: none;
	max-width: 100%;
}
	/* removes outlines from linked images (for older browsers and IE), sets up images for responsive design layout */
	
input[type="submit"]::-moz-focus-inner, 
	input[type="button"]::-moz-focus-inner {
		border : 0px;
	}
	/* removes the inner border effect from focused buttons for form elements in Firefox */
	
input[type="search"] { 
	-webkit-appearance: textfield;
} 
input[type="submit"] { 
	-webkit-appearance:none;
}
	/* removes the OS X appearance from HTML5 search inputs and submit buttons when viewed in Safari */
	
input:required:after {
	color: #f00;
	content: " *";
}
	/* sets up required form fields with the conventional following red asterix */
input[type="email"]:invalid { 
	background: #f00;
}
	/* causes a visual alert in browsers that do client-side checking of HTML5 email field – this may already be the default in some browsers. */
	
svg polyline,
svg line,
svg path {
    stroke-width: .25;
    stroke-linecap: round;
    stroke-linejoin: round;
    transition: 0.2s;
}

#textName {
    font-family:monospace;
    fill: #D8DBE2;
    opacity: .7;
    font-size: .9rem;
}

.highlight {
    color: #aa5099;
    font-size: 1.1rem;
    padding-right: 10px;
}

.navigation {
    border-radius: 0;
    border: none;
    box-shadow: none;
    transition:
      box-shadow 0.5s ease,
      padding 0.5s ease
    ;
}

.item-text{
    color:#b3b3b3;
    padding-bottom:5px;
    font-size: 1.5em;
    font-family:monospace;
}
.navigation.menu>.item:hover {
    color: #D8DBE2;
    background: rgba(255,255,255,.02);
    font-size:1.501em;
}

.overlay {
    background-color: #FFFFFF;
    padding: 0em;
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
    transition: all 0.5s ease;
    background: transparent;
    top:100px;
    width:700px;
    position:absolute;
  }

/* change style */
.fixed.overlay {
    position: fixed;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.3);
    width:700px;
    background-color: #262829;
  }



/* MAIN SECTION */
.main {
    position: fixed;
    display: flex;
    justify-content: space-between;
    left: 225px;
    width: calc(100% - 225px);
    height: 100%;
}
.section {
    padding: 50px;
}
.hero-section {
    width: 100%; 
    height: 100%;
}

.tab.segment {
    background-color: transparent!important;
    border:none!important;
}

#background_binary {
    position: relative;
    top: -20px;
    left: 0;
    opacity: .1
}

.ui.segment {
    background: transparent!important;
    border:none!important;
    box-shadow: none!important;
}
.ui.rounded.image {
    border: 8px solid #e3e69e;
}
.ui.rounded.image {
    content: "";
    position: absolute;
    border-bottom: 8px solid #aa5099;
    border-right: 8px solid #aa5099;
    height: 53.2rem;
    width: 43.1rem
}

h1 {
    color:#D8DBE2!important;
    font-family: monospace!important;
    font-size: 4rem!important;
}

.dark {
    background-color: #262829;
    opacity: 10%;
}

.light {
    background-color:#b3b3b3;
    border-top: 8px solid #262829;
    border-bottom: 8px solid #262829;
}

p {
    color: #b3b3b3;
    font-size:1.5rem;
}

.blue.progress {
    margin: 5px 0px 40px 0px!important;
}

.light h1 {
    color: #262829!important;
    margin-bottom:0px!important;
    font-size: 4rem!important;
}
.light h3 {
    margin-top:0px!important;
}
.light p {
    color: #262829!important;
}
.light .heading {
    margin: 30px 0px 30px 0px!important;
}

#about_me {
    height: calc(100vh - 250px);
}
#skills, #portfolio, #contact {
    height: 100vh
}

.main-site .segment {
    padding-top:150px!important;
}